@namespace Lendo_me

<div class="modal" style="@(IsVisible ? "display: block;" : "display: none;")">
    <div class="modal-content">
        <span class="close" @onclick="CloseModal">&#x2715;</span>
        @BodyContent
    </div>
</div>

<div id="modalBackdrop"/>

@code {
    [Parameter]
    public RenderFragment? BodyContent { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    private async Task CloseModal()
    {
        if (OnClose.HasDelegate)
            await OnClose.InvokeAsync(null);
    }
}

<style>

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        z-index: 2;
        width: 80vw;
        height: 85vh;
        border-radius: 10px;
    }

    .modal-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }

    .modal-header {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        margin: 0;
    }

</style>
